#notFoundPage>header {
  width: 100%;
  height: 30vw;
  background-image: url("../images/fillerEight.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notFoundPage>header h1 {
  color: var(--quadraryColor);
}