@import url('style/nav.css');
@import url('style/home.css');
@import url('style/aboutUs.css');
@import url('style/blog.css');
@import url('style/profile.css');
@import url('style/quizz.css');
@import url('style/userForm.css');
@import url('style/dashboard.css');
@import url('style/login.css');
@import url('style/notFound.css');
@import url('style/signup.css');
@import url('style/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primaryColor: #6600ff;
  --secondaryColor: #e100ff;
  --tertiaryColor: #a064ff;
  --quadraryColor: white;
  --whiteSpace: #F3F3F3;
  --buttonColor: #1df198;
  --darkBlue: #11142c;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Noto Sans', sans-serif;
}




body {
  background-color: var(--whiteSpace);
  overflow-x: hidden;
}


a {
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

h1 {
  font-size: 2.8vw;
  font-weight: 700;
  line-height: 3.2vw;
}

h2 {
  font-size: 2.2vw;
  font-weight: 300;
}

h3 {
  font-size: 1.4vw;
  font-weight: 600;
}

p {
  font-size: 1.2vw;
  font-weight: 500;
}

li {
  font-size: 1vw;
}


form div {
  display: grid;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  backdrop-filter: brightness(0.5);
  padding: 10vh 10vw;
}

.notification>div {
  background-color: var(--quadraryColor);
  border-radius: 0.5vw;
  padding: 3vw;
  height: 5vw;
  position: relative;
  width: 30vw;
  margin: 0 auto;
}

form label {
  margin-bottom: 1vw;
  margin-top: 1.5vw;
  font-size: 1.1vw;
  font-weight: 600;
}

form input {
  padding: 0.7vw;
  border-radius: 0.3vw;
  border: 1px solid black;
  font-size: 1vw;
}

form .button {
  border: none;
  font-size: 1vw;
}

.button {
  display: block;
  background-color: var(--buttonColor);
  padding: 1vw 1.2vw;
  border-radius: 2vw;
  text-align: center;
}

.button:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-top: 1vw;
}



.learnMore {
  display: flex;
  padding: 1vw 1.2vw;
  border: 1px solid black;
  border-radius: 2vw;
  background-color: var(--quadraryColor);
}

.learnMore img {
  height: 1.4vw;
  width: auto;
  margin-right: 0.5vw;
}

#companyLogosHolder {
  display: flex;
  justify-content: space-around;
  filter: grayscale(1);
  width: 100%;

}

#companyLogosHolder img {
  height: 3vw;
  width: auto;
}

#ReasonsWhyCard {
  padding: 1.5vw 3vw;
  height: 8vw;
  width: 13vw;
  border-radius: 0.7vw;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--quadraryColor);

}

#ReasonsWhyCard img {
  position: absolute;
  left: 1vw;
  top: 2vw;
  height: auto;
  width: 1.5vw;
}

#ReasonsWhyCard h3 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 800;
}

#ReasonsWhyCard p {
  font-weight: 400;
  font-size: 0.9vw;
}

#StrategiesCard {
  width: 13vw;
  height: 11vw;
  padding: 1vw;
  display: grid;
  background-color: var(--quadraryColor);
  align-items: center;
  justify-items: center;
  border-radius: 0.5vw;
}

#StrategiesCard p {
  font-size: 0.9vw;
  text-align: center;

}


#StagesPotentialCard {
  height: 25vw;
  width: 18vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  padding: 0.7vw;
  position: relative;
  background-color: var(--quadraryColor);

}

#StagesPotentialCard>img {
  width: 100%;
  height: auto;
  border-radius: 0.5vw 0.5vw 0 0;
}

#StagesPotentialCard>.stage {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 0.9vw;
  margin: 1vw 0;
}

#StagesPotentialCard>h3 {
  margin-bottom: 2vw;
  font-size: 1.4vw;
}

#StagesPotentialCard>.text {
  font-weight: 300;
  font-size: 0.8vw;
}

#StagesPotentialCard>a {
  position: absolute;
  bottom: 1vw;
  left: 6vw;
  text-decoration: underline;
}


#StagesWorksCard {
  height: 20vw;
  width: 17vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  padding: 2vw;
  position: relative;
  background-color: var(--quadraryColor);
}

#StagesWorksCard>.stage {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 0.9vw;
  margin: 1vw 0;
}

#StagesWorksCard>h3 {
  margin-bottom: 2vw;
  font-size: 1.4vw;
}

#StagesWorksCard ul {
  list-style: none;
  width: 95%;
}

#StagesWorksCard li {
  font-weight: 300;
  font-size: 0.9vw;
  margin-bottom: 0.7vw;
}

#StagesWorksCard>.number {
  position: absolute;
  top: -2vw;
  right: 4vw;
  background-color: var(--primaryColor);
  color: var(--quadraryColor);
  padding: 0.7vw 1vw;
  border-radius: 0.5vw;
}

#StagesWorksCard>.number>p {
  font-size: 2vw;

}


#Banner {
  width: 100%;
  height: 28vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

#Banner>div {
  color: var(--quadraryColor);
  background-color: var(--primaryColor);
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

#Banner>div>h2 {
  font-weight: 600;
}

#Banner>img {
  width: 100%;
  height: auto;
}

#Banner .reviewBanner {
  display: flex;
  margin-bottom: 1vw;
  width: 10vw;
  justify-content: space-around;

}

#Banner .reviewBanner> :first-child {
  color: yellow;
}

#Banner .reviewBanner>p {
  font-size: 0.8vw;
  font-weight: 400;
}

#clientFeedBack {
  width: 100%;
  height: 60vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  display: grid;
  justify-items: center;
}

#clientFeedBack>h2 {
  text-align: center;
  width: 25vw;
  font-weight: 400;
}

#clientFeedBack>div {
  width: 100%;
}

#clientFeedBack>div>:first-child {
  width: 100%;
  display: flex;
  margin-bottom: 7vw;
  margin-left: 5vw;
}

#clientFeedBack>div>:last-child {
  display: flex;
  margin-left: 10vw;
}

#clientFeedBack .feedBackCard {
  height: 17vw;
  width: 35vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  padding: 0.7vw;
  position: relative;
  background-color: var(--quadraryColor);
  margin: 0 2vw;

}

#clientFeedBack .feedBackCard p {
  font-size: 1.1vw;
}

#clientFeedBack .feedBackCard>:first-child {
  display: flex;
  justify-content: space-between;
}

#clientFeedBack .feedBackCard>:first-child>div {
  display: flex;
  width: fit-content;
  align-items: center;
}

#clientFeedBack .feedBackCard>:first-child>div img {
  height: 3vw;
  width: auto;
  padding: 0 0.5vw;
}

#clientFeedBack .feedBackCard>p {
  margin-top: 1vw;
  padding: 3vw;
}

#counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  height: 10vw;
  align-items: center;
  width: 80vw;
  padding: 0 10vw 10vw 10vw;
}

#counter p {
  color: var(--primaryColor);
  font-size: 2.5vw;
}

#teamMember {
  width: 15vw;
  height: 12vw;
  position: relative;
}

#teamMember img {
  position: absolute;
  top: -4vw;
  left: 4vw;
  width: 7vw;
  height: auto;
}

#teamMember>div {
  background-color: var(--quadraryColor);
  border-radius: 0.5vw;
  height: 12vw;
  padding: 2vw 2vw;
  display: grid;
  text-align: center;
}

#teamMember>div>h3 {
  margin-top: 2vw;
}

#teamMember>div>p {
  font-size: 0.8vw;
  color: var(--primaryColor);
}

#teamMember>div>q {
  font-size: 0.9vw;

}

#contactForm {
  display: flex;
  height: 70vw;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#contactForm h2 {
  position: absolute;
  top: 7vw;
  font-size: 2.8vw;
}

#contactForm>:first-child {
  width: 40vw;
  height: 35vw;
}

#contactForm form {
  display: grid;
  justify-items: center;
}


#contactForm form>div {
  display: grid;
  width: 100%;
}

#contactForm form .checkHolder {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
}

#contactForm form .checkHolder input {
  height: 2vw;
  width: 2vw;
}




#contactForm>:last-child {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 30vw;
  height: 22vw;
}

#contactForm>:last-child>* {
  margin-bottom: 2vw;
}

#contactForm>:last-child iframe {
  width: 100%;
  height: 20vw;
  border: 1px solid black;
  border-radius: 0.5vw;
}


#contactForm>:last-child div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#construction {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#construction img {
  width: 8vw;
  height: auto;
}